<!doctype html>
<html lang="es">
<head>
<title>TerraShop | Index</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>

	<nav th:replace="fragments/header_loader"></nav>
	
	<div class="jumbotron" sec:authorize="isAnonymous()">
		<h1 class="display-3">TerraShop</h1>
		<p class="lead" th:utext="#{label.description}"></p>
		<hr class="my-4">
		<p>Crea una cuenta para acceder a los distintos productos que
			ofrecemos.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" th:href="@{/login}" role="button">Acceder</a>
		</p>
	</div>
	
	<div class="jumbotron" sec:authorize="!isAnonymous()">
		<h1 class="display-3"><span th:utext="#{label.welcome}"></span>, <span th:utext="${session.usuario}"></span></h1>
		<p class="lead"><span th:utext="#{label.welcomeDescription}"></span></p>
	</div>

</body>
</html>