<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>TerraShop | Productos</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- AJAX -->
<script th:src="@{/js/jquery-3.5.0.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/typeahead.bundle.min.js}"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<!-- Bootstrap CSS -->
<script src="https://kit.fontawesome.com/4c9cf097a7.js"
	crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<script type="text/javascript" src="../js/script.js"></script>

	<nav th:replace="fragments/header_loader"></nav>

	<div class="row h-100 my-5">
		<div class="col-sm-12 my-auto">
			<div class="w-75 mx-auto">
				<h1 class="display-5 mb-3">Productos</h1>
				<form class="form-inline mb-3"
					th:action="@{/producto/buscarProducto}">
					<input class="form-control mr-sm-2 typeahead tt-input" type="text"
						id="nombre" name="nombre" autocomplete="off" spellcheck="false"
						dir="auto" placeholder="Busca un producto">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
				</form>

				<div sec:authorize="hasAuthority('ROL_ADMIN')"
					class="mb-3 text-center">
					<button type="button" class="btn btn-info" data-toggle="modal"
						data-target="#modalCrear">
						Crear nuevo producto <i class="fas fa-plus"></i>
					</button>

					<div class="modal fade text-justify" id="modalCrear" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalCenterTitle"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<form th:action="@{/producto/crear}" method="post">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">Nuevo
											producto</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="form-group col-md-8">
												<label for="nombre" class="col-form-label">Nombre</label> <input
													type="text" class="form-control" id="nombre" name="nombre"
													placeholder="Escribe su nombre">
											</div>
											<div class="form-group col-md-8">
												<label for="precio" class="col-form-label">Precio</label> <input
													type="text" class="form-control" id="precio" name="precio"
													placeholder="Indica el precio">
											</div>
											<div class="form-group col-md-8">
												<label for="stock" class="col-form-label">Stock</label> <input
													type="text" class="form-control" id="stock" name="stock"
													placeholder="Escribe el stock">
											</div>
											<div class="form-group col-md-8">
												<label for="stock" class="col-form-label">Categoría</label> <select
													class="custom-select">
													<option selected="">Escoge una categoría</option>
													<option value="1">One</option>
													<option value="2">Two</option>
													<option value="3">Three</option>
												</select>
												
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancelar</button>
										<input type="submit" class="btn btn-primary"
											value="Crear producto">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div th:if="${productos.empty}" class="text-center my-3">No
					existen productos en el sistema</div>
				<div id="aviso"></div>
				<script th:src="@{/js/search.js}"></script>

				<div class="grid">
					<div class="card m-2" th:each="producto : ${productos}">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">
								<a th:href="@{/producto/perfil/{id}(id=${producto.idProducto})}"
									class="card-link"><span th:text="${producto.nombre}">
										Nombre </span></a>
							</h5>
							<strong><span th:text="${producto.precio}">
									Precio </span>€</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan <span
								th:text="${producto.stock}"> Stock </span> unidades!
							</small>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>