<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>TerraShop | Productos</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- AJAX -->
<script th:src="@{/js/jquery-3.5.0.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/typeahead.bundle.min.js}"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<!-- Bootstrap CSS -->
<script src="https://kit.fontawesome.com/4c9cf097a7.js"
	crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<script type="text/javascript" src="../js/script.js"></script>

	<nav th:replace="fragments/header_loader"></nav>

	<div class="row h-100 my-5">
		<div class="col-sm-12 my-auto">
			<div class="w-75 mx-auto">
				<h1 class="display-5 mb-3">Productos</h1>

				<form>
					<input class="form-control mr-sm-2"
						sec:authorize="hasAuthority('ROL_ADMIN')" type="text"
						id="buscarproducto" name="buscarproducto"
						placeholder="Busca un producto" autocomplete="off"
						spellcheck="false" dir="auto"
						style="position: relative; vertical-align: top; background-color: transparent;">
				</form>

				<form class="form-inline mb-5">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Busca un producto">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
				</form>
				<div id="aviso"></div>
				<script th:src="@{/js/search.js}"></script>

				<div class="card-columns">
					<div class="card" th:each="producto : ${productos}">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">
								<a th:href="@{/producto/perfil/{id}(id=${producto.idProducto})}"
									class="card-link"><span th:text="${producto.nombre}">
										Nombre </span></a>
							</h5>
							<strong><span th:text="${producto.precio}">
									Precio </span>€</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan <span
								th:text="${producto.stock}"> Stock </span> unidades!
							</small>
						</div>
					</div>

					<div class="card">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">Nombre</h5>
							<strong>Precio</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan Stock unidades! </small>
						</div>
					</div>
					<div class="card">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">Nombre</h5>
							<strong>Precio</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan Stock unidades! </small>
						</div>
					</div>
					<div class="card">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">Nombre</h5>
							<strong>Precio</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan Stock unidades! </small>
						</div>
					</div>
					<div class="card">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">Nombre</h5>
							<strong>Precio</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan Stock unidades! </small>
						</div>
					</div>
					<div class="card">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">Nombre</h5>
							<strong>Precio</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan Stock unidades! </small>
						</div>
					</div>
					<div class="card">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">Nombre</h5>
							<strong>Precio</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan Stock unidades! </small>
						</div>
					</div>
					<div class="card">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">Nombre</h5>
							<strong>Precio</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan Stock unidades! </small>
						</div>
					</div>
					<div class="card">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">Nombre</h5>
							<strong>Precio</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan Stock unidades! </small>
						</div>
					</div>
					<div class="card">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">Nombre</h5>
							<strong>Precio</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan Stock unidades! </small>
						</div>
					</div>
					<div class="card">
						<img src="../images/producto.jpg" class="card-img-top">

						<div class="card-body">
							<h5 class="card-title">Nombre</h5>
							<strong>Precio</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan Stock unidades! </small>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>