<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>TerraShop | Producto</title>
<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
	<nav th:replace="fragments/header_loader"></nav>

	<div class="container-sm my-5">
		<div class="text-center my-5">
			<i class="fas fa-user fa-5x mb-2" style="color: #646464"></i></br>
			<h1>
				<span th:text="${producto.nombre}"></span>
			</h1>
		</div>
		<div class="card">
			<div class="card-body">
				<img src="../images/producto.jpg" class="card-img-top">

				<p>
					<strong><span th:text="${producto.precio}"></span></strong>
				</p>
			</div>
		</div>
	</div>

</body>
</html>