<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>TerraShop | Productos</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- AJAX -->
<script th:src="@{/js/jquery-3.5.0.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/typeahead.bundle.min.js}"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<!-- Bootstrap CSS -->
<script src="https://kit.fontawesome.com/4c9cf097a7.js"
	crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<nav th:replace="fragments/header_loader"></nav>

	<div class="row h-100 my-5">
		<div class="col-sm-12 my-auto">
			<div class="w-75 mx-auto">
				<h1 class="display-5 mb-3">Productos</h1>

				<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
					<div class="collapse navbar-collapse" id="navbarColor03">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/producto/list}">Todos <span class="sr-only">(current)</span>
							</a></li>
							<li class="nav-item text-center"
								th:each="categoria : ${categorias}"><a
								th:href="@{/producto/list/{idCategoria}(idCategoria=${categoria.idCategoria})}"
								class="nav-link"><span th:text="${categoria.nombre}"></span></a></li>
							<li>
								<button sec:authorize="hasAuthority('ROL_ADMIN')" type="button" class="btn btn-link" data-toggle="modal"
									data-target="#modalCategoria" >
									Nueva categoria <i class="fas fa-plus"></i>
								</button>
							</li>
						</ul>

						<div class="modal fade text-justify" id="modalCategoria"
							tabindex="-1" role="dialog"
							aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<form th:action="@{/categoria/crear}" method="post">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLongTitle">Nueva
												categoria</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="form-group col-md-8">
													<label for="nombre" class="col-form-label">Nombre</label> <input
														type="text" class="form-control" id="nombre" name="nombre"
														placeholder="Escribe su nombre">
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Cancelar</button>
											<input type="submit" class="btn btn-primary"
												value="Crear categoria">
										</div>
									</form>
								</div>
							</div>
						</div>

						<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2 typeahead" type="text"
								placeholder="Busca un producto">
							<button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
						</form>
						<div id="aviso"></div>
					</div>
				</nav>

				<div sec:authorize="hasAuthority('ROL_ADMIN')"
					class="mb-3 text-center">
					<button type="button" class="btn btn-info" data-toggle="modal"
						data-target="#modalCrear">
						Crear nuevo producto <i class="fas fa-plus"></i>
					</button>

					<div class="modal fade text-justify" id="modalCrear" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalCenterTitle"
						aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<form th:action="@{/producto/crear}" method="post">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">Nuevo
											producto</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="row">
											<div class="form-group col-md-8">
												<label for="nombre" class="col-form-label">Nombre</label> <input
													type="text" class="form-control" id="nombre" name="nombre"
													placeholder="Escribe su nombre">
											</div>
											<div class="form-group col-md-8">
												<label for="precio" class="col-form-label">Precio</label> <input
													type="text" class="form-control" id="precio" name="precio"
													placeholder="Indica el precio">
											</div>
											<div class="form-group col-md-8">
												<label for="stock" class="col-form-label">Stock</label> <input
													type="text" class="form-control" id="stock" name="stock"
													placeholder="Escribe el stock">
											</div>
											<div class="form-group col-md-8">
												<label for="stock" class="col-form-label">Categoría</label>
												<select class="custom-select" id="categoria"
													name="categoria">
													<option th:each="categoria : ${categorias}"
														th:value="${categoria.nombre}"
														th:text="${categoria.nombre}"></option>
												</select>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancelar</button>
										<input type="submit" class="btn btn-primary"
											value="Crear producto">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<!-- 				<div th:if="${productos.empty}" class="text-center my-3">No -->
				<!-- 					existen productos en el sistema</div> -->

				<div class="grid">
					<div class="card m-2"
						th:each="producto, iStat : ${productoPage.content}">
						<img th:if="${producto.idImagenes.empty}"
							th:src="@{/images/producto.jpg}" class="card-img-top"> <img
							th:unless="${producto.idImagenes.empty}"
							th:src="@{/producto/imagen/{id}(id=${producto.idImagenes[0]})}"
							class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">
								<a th:href="@{/producto/perfil/{id}(id=${producto.idProducto})}"
									class="card-link"><span th:text="${producto.nombre}">
										Nombre </span></a>
							</h5>
							<strong><span th:text="${producto.precio}">
									Precio </span>€</strong>
						</div>

						<div class="card-footer">
							<small class="text-danger">¡Quedan <span
								th:text="${producto.stock}"> Stock </span> unidades!
							</small>
						</div>
					</div>
				</div>

				<div>
					<ul class="pagination justify-content-center mt-3"
						th:if="${productoPage.totalPages > 0}">
						<li class="page-item disabled"><a class="page-link" href="#">&laquo;</a>
						</li>
						<li class="page-item" th:each="pageNumber : ${pageNumbers}"><a
							class="page-link" th:href="@{/producto/list(page=${pageNumber})}"
							th:text=${pageNumber}></a>
						<li class="page-item"><a class="page-link" href="#">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="../js/search.js"></script>
	<script type="text/javascript" src="../js/modal.js"></script>
</body>
</html>