<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>TerraShop | Perfil</title>
<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
	<nav th:replace="fragments/header_loader"></nav>

	<div class="container-sm my-5">
		<div class="text-center my-5">
			<i class="fas fa-user fa-5x mb-2" style="color: #646464"></i><br/>
			<h1>
				<span th:text="${usuario.usuario}"></span>
			</h1>
		</div>
		<div class="card">
			<div class="card-body">

				<p>
				<h2 th:utext="#{label.personalDetails}"></h2>
				</p>
				<p>
					<b><span th:utext="#{label.user_name}"></span>:</b> <span th:text="${usuario.nombre}"></span>
				</p>
				<p>
					<b><span th:utext="#{label.user_surname}"></span>:</b> <span th:text="${usuario.apellidos}"></span>
				</p>
				<p>
					<b><span th:utext="#{label.user_email}"></span>:</b> <span th:text="${usuario.email}"></span>
				</p>
				<p>
					<b><span th:utext="#{label.user_shippingAddress}"></span>:</b> <span
						th:text="${usuario.direccionEnvio}"></span>
				</p>
				<p>
				<h2>Datos de pago</h2>
				</p>
				<p>
					<b>Banco:</b> <span th:text="${usuario.banco}"></span>
				</p>
				<p>
					<b>Número de tarjeta:</b> <span th:text="${usuario.numeroTarjeta}"></span>
				</p>
				<p>
					<b>Titular:</b> <span th:text="${usuario.titular}"></span>
				</p>
				<p>
					<b>Código de seguridad:</b> <span
						th:text="${usuario.codigoSeguridad}"></span>
				</p>
				<p>
					<b>Dirección de facturación:</b> <span
						th:text="${usuario.direccionFacturacion}"></span>
				</p>
				<div th:if="${propietario}">
					<a
						th:href="@{/usuario/perfil/editar/{id}(id=${usuario.idUsuario})}"
						class="btn btn-info">Editar Perfil <i class="fas fa-user-edit"></i>
					</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>