<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>TerraShop | Editar perfil</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="../style/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">TerraShop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor01" aria-controls="navbarColor01"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Perfil
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Item 2</a></li>
				<!-- <a th:href="@{/profesor/list}">Profesores</a> -->
				<li class="nav-item"><a class="nav-link" href="#">Item 3</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Item 4</a></li>
			</ul>
		</div>
	</nav>

	<div class="row h-100 mt-50">
		<div class="col-sm-12 my-auto">
			<div class="w-75 mx-auto">
				<h1 class="display-3">Editar perfil</h1>
				<form th:action="@{/usuario/editar_perfil(idUsuario=${usuario.idUsuario})}" th:object="${usuario}" method="post">
					<fieldset>
						<legend>Datos de usuario</legend>
						<div class="form-group">
							<label for="usuario">Usuario</label> <input type="text"
								th:field="*{usuario}" class="form-control" id="usuario"
								name="usuario" placeholder="usuario"> <span
								th:if="${#fields.hasErrors('usuario')}"
								th:errors="*{usuario}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="contrasena">Contraseña</label> <input type="password"
								th:field="*{contrasena}" class="form-control" id="contrasena"
								name="contrasena" placeholder="contrasena"> <span
								th:if="${#fields.hasErrors('contrasena')}"
								th:errors="*{contrasena}" class="text-danger"></span>
						</div>
						<legend>Datos personales</legend>
						<div class="form-group">
							<label for="nombre">Nombre</label> <input type="text"
								th:field="*{nombre}" class="form-control" id="nombre"
								name="nombre" placeholder="nombre"> <span
								th:if="${#fields.hasErrors('nombre')}"
								th:errors="*{nombre}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="apellidos">Apellidos</label> <input type="text"
								th:field="*{apellidos}" class="form-control" id="apellidos"
								name="apellidos" placeholder="apellidos"> <span
								th:if="${#fields.hasErrors('apellidos')}"
								th:errors="*{apellidos}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="email">Email</label> <input type="email"
								th:field="*{email}" class="form-control" id="email"
								name="email" placeholder="email"> <span
								th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="direccionEnvio">Dirección de envío</label> <input type="text"
								th:field="*{direccionEnvio}" class="form-control" id="direccionEnvio"
								name="direccionEnvio" placeholder="direccionEnvio"> <span
								th:if="${#fields.hasErrors('direccionEnvio')}"
								th:errors="*{direccionEnvio}" class="text-danger"></span>
						</div>
						<legend>Datos de pago</legend>
						<div class="form-group">
							<label for="banco">Banco</label> <input type="text"
								th:field="*{banco}" class="form-control" id="banco"
								name="banco" placeholder="banco"> <span
								th:if="${#fields.hasErrors('banco')}"
								th:errors="*{banco}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="numeroTarjeta">Número de tarjeta</label> <input type="text"
								th:field="*{numeroTarjeta}" class="form-control" id="direccionEnvio"
								name="numeroTarjeta" placeholder="numeroTarjeta"> <span
								th:if="${#fields.hasErrors('numeroTarjeta')}"
								th:errors="*{numeroTarjeta}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="titular">Titular</label> <input type="text"
								th:field="*{titular}" class="form-control" id="titular"
								name="titular" placeholder="titular"> <span
								th:if="${#fields.hasErrors('titular')}"
								th:errors="*{titular}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="codigoSeguridad">Código de seguridad</label> <input type="text"
								th:field="*{codigoSeguridad}" class="form-control" id="codigoSeguridad"
								name="codigoSeguridad" placeholder="codigoSeguridad"> <span
								th:if="${#fields.hasErrors('codigoSeguridad')}"
								th:errors="*{codigoSeguridad}" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="direccionFacturacion">Dirección de
								facturación</label> <input type="text"
								th:field="*{direccionFacturacion}" class="form-control" id="direccionFacturacion"
								name="direccionFacturacion" placeholder="direccionFacturacion"> <span
								th:if="${#fields.hasErrors('direccionFacturacion')}"
								th:errors="*{direccionFacturacion}" class="text-danger"></span>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">Confirmar
								cambios</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>