<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>TerraShop | Editar perfil</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="../style/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">TerraShop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor01" aria-controls="navbarColor01"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Perfil
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Item 2</a></li>
				<!-- <a th:href="@{/profesor/list}">Profesores</a> -->
				<li class="nav-item"><a class="nav-link" href="#">Item 3</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Item 4</a></li>
			</ul>
		</div>
	</nav>

	<div class="row h-100 mt-50">
		<div class="col-sm-12 my-auto">
			<div class="w-75 mx-auto">
				<h1 class="display-3">
					<span th:text="${usuario.usuario}"></span>
				</h1>
				<h2>Datos personales</h2>
				<p>
					<span th:text="${usuario.nombre}"></span> <span
						th:text="${usuario.apellidos}"></span>
				</p>
				<p>
					E-mail: <span th:text="${usuario.usuario}"></span>
				</p>
				<p>
					Dirección de envío: <span th:text="${usuario.direccionEnvio}"></span>
				</p>
				<h2>Datos de pago</h2>
				<p>
					Banco: <span th:text="${usuario.banco}"></span>
				</p>
				<p>
					Número de tarjeta: <span th:text="${usuario.numeroTarjeta}"></span>
				</p>
				<p>
					Titular: <span th:text="${usuario.titular}"></span>
				</p>
				<p>
					Código de seguridad: <span th:text="${usuario.codigoSeguridad}"></span>
				</p>
				<p>
					Dirección de facturación: <span
						th:text="${usuario.direccionFacturacion}"></span>
				</p>
				<form th:action="@{/usuario/editar_perfil/{idUsuario}(idUsuario=${usuario.idUsuario})}" method="get">
					<button type="submit" class="btn btn-primary">Editar perfil</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>